@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "customtheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #78909c;
  --color-primary: #78909c;
  --color-primary-content: #ffffff;
  --color-secondary: #ffb347;
  --color-secondary-content: #1f2937;
  --color-accent: #37cdbe;
  --color-accent-content: #ffffff;
  --color-neutral: #3d4451;
  --color-neutral-content: #ffffff;
  --color-info: #2094f3;
  --color-info-content: #ffffff;
  --color-success: #009485;
  --color-success-content: #ffffff;
  --color-warning: #ff9900;
  --color-warning-content: #ffffff;
  --color-error: #ff5724;
  --color-error-content: #ffffff;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "customtheme-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  /* In dark, use light's secondary (#ffb347) as primary, and base other colors on this */
  --color-base-100: #2a2118;
  --color-base-200: #1a140c;
  --color-base-300: #120d07;
  --color-base-content: #fff3e0;
  --color-primary: #ffb347;
  --color-primary-content: #2a2118;
  --color-secondary: #ffcb80;
  --color-secondary-content: #2a2118;
  --color-accent: #ffd699;
  --color-accent-content: #2a2118;
  --color-neutral: #a67c52;
  --color-neutral-content: #fff3e0;
  --color-info: #ffe0b2;
  --color-info-content: #2a2118;
  --color-success: #ffd699;
  --color-success-content: #2a2118;
  --color-warning: #ffb347;
  --color-warning-content: #2a2118;
  --color-error: #ff5724;
  --color-error-content: #2a2118;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility animate-scan {
  animation: scan 4s infinite;
}

@layer utilities {
  @keyframes scan {
    0%,
    100% {
      top: 20%;
    }
    50% {
      top: 80%;
    }
  }
}
